.team-add-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.team-add-form > .ant-input-number {
  margin: 0;
}

.team-add-form > button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.team-selector {
  max-width: 400px;
  width: 100%;
}

.sub-para {
  margin-top: 20px;
}
