.navbar {
  box-shadow: 0px 2px 4px #999999;
  padding: 0;
  margin: 0;
}
.navbar-left {
  padding: 0;
  text-align: center;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar-nav > li {
  display: inline-block;
}

.navbar-nav > li > a {
  font-size: 1.5em;
  display: block;
  height: 2em;
  width: 90px;
  line-height: 2em;
  text-align: center;
  padding-left: 4px;
  text-decoration: none;
  color: inherit;
}

.navbar-nav > li > a:hover {
  transition: background 0.2s linear;
  background-color: #84ffce;
}
