
.admin-content {
  width: 100%;
  text-align: center;
}

.admin-content-div {

}

.admin-content-subdiv {
  margin-top: 10px;
}


@media screen and (min-width: 720px) {
  .admin-content {
      width: 40%;
  }
}
