
#run-view-canvas {
  /*height: 40vw;
  width: 70vw;*/
  width: 100%;
  height: 100%;
  /*Placeholder to see the layout*/
  /*background-color: red;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.run-view-wrapper {
  width: 65vw;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.run-view-wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}


.run-view-content-area {
  padding: 20px;
}

.run-view-left-div .run-view-right-div {
  display: inline-block;
  margin: 5px;
  padding: 0px;
}

.run-view-left-div {
  width: 65vw;
  float: left;
}

.run-view-right-div {
  width: 25vw;
  float: right;
  overflow: hidden;
}

.run-view-title {
  margin-bottom: 10px;
}

.run-view-info-table > tbody > tr > td {
  width: 200px;
}

.run-view-action-buttons {
  margin: 4px;
  width: 50px;
  height: 40px;

}

@media only screen and (max-width: 800px) {

  .run-view-wrapper {
    width: 100%;
  }

  .run-view-left-div {
    display: block;
    float: none;
    width: 100%;
  }

  .run-view-right-div {
    display: block;
    float: none;
    width: 100%;
  }

}
