.adm-navbar {
  box-shadow: 0px 2px 4px #999999;
  padding: 0;
  margin: 3px 0 0 0;
}
.adm-navbar-left {
  padding: 0;
  text-align: center;
}

.adm-navbar-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.adm-navbar-nav > li {
  display: inline-block;
}

.adm-navbar-nav > li > a {
  transition: background 0.2s linear;
  font-size: 1.5em;
  display: block;
  height: 2em;
  width: 150px;
  line-height: 2em;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  color: inherit;
}

.adm-navbar-nav > li > button {
  transition: background 0.2s linear;
  position: relative;
  font-size: 1.5em;
  display: block;
  height: 2em;
  width: 150px;
  line-height: 1.5em;
  text-align: center;
  padding-left: 4px;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 0;
  background-color:rgba(0, 0, 0, 0);
}

@media screen and (min-width: 450px) {
  .adm-navbar-nav > li > button {
    margin: 0;
  }
}

.adm-navbar-nav > li > a:hover {
  background-color: #84ffce;
}

.adm-navbar-nav > li > button:hover {
  background-color: #84ffce;
  color: inherit;
}
