.login-input {
  width: 100%;
}

.login-view-content-area {
  width: 100%;
  text-align: center;
}

.login-view-content-area > form {
  margin-top: 2em;
}

.form-group > input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 720px) {
  .login-view-content-area {
      width: 40%;
  }

  .login-input {
    width: 200px;
  }
}
