/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext');*/

.outer_container {
  margin: 0;
  padding: 0;

}

html body {
  padding: 0;
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
  color: #424242;
  font-weight: 400;
}

.page-title {
  margin-top: 1em;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.common-center-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 70%;
  text-align: center;
}

.not-found-height {
  line-height: 20em;
}

@media screen and (min-width: 720px) {
  .main-card {
      width: 40%;
  }
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.main-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 100px;
}


.extra-top-margin {
  margin-top: 40px;
}

.error-red {
  margin-top: 4px;
  margin-bottom: 6px;
}

.error-red {
  color: #d34141;
  font-weight: 500;
}

.error-red:after {
  content:"";
  display:inline-block;
  width:0px;
}

/*Antd overrides*/
.ant-input:hover, .ant-input:focus {
  border-color: #84ffce;
}

.ant-select-selection:hover, ant-select-selection:active, ant-select-selection, ant-select-selection:focus, .ant-select-focused {
  border-color: #84ffce;
}

.ant-select-focused {
  border-color: #84ffce;
}

.ant-input-number:hover, .ant-input-number-focused {
  border-color: #84ffce;
}

.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active {
  background-color: #a0ffd8;
}

.ant-card-body {
  padding-top: 15px;
}

.ant-btn:hover {
  color: #2cea9c;
  border-color: #2cea9c;
}

.main-card:hover .ant-card-head {
  transition: background 0.3s linear;
  background-color: #a0ffd8;
}

.main-card:hover .ant-card-body {
  transition: background 0.3s linear;
  background-color: #a0ffd8;
}
