.student-info-table > tbody > tr > td {
  width: 200px;
}

.student-info-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
}

.student-team-table > tbody > tr > td {
  width: 200px;
}

.student-team-table-header {
  margin-top: 10px;
}

.student-team-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: left;
}

.student-selector {
  width: 100%;
}

.student-add-team-selector {
  width: 200px;
}

@media screen and (min-width: 720px) {
  .student-selector {
      width: 400px;
  }
}
